@font-face {
  font-family: "NuckleBold";
  src: url("/fonts/Nuckle/Nuckle-Bold.woff2") format("woff2"),
    url("/fonts/Nuckle/Nuckle-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NuckleMedium";
  src: url("/fonts/Nuckle/Nuckle-Medium.woff2") format("woff2"),
    url("/fonts/Nuckle/Nuckle-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NuckleSemiBold";
  src: url("/fonts/Nuckle/Nuckle-Semibold.woff2") format("woff2"),
    url("/fonts/Nuckle/Nuckle-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nuckle";
  src: url("/fonts/Nuckle/Nuckle-Book.woff2") format("woff2"),
    url("/fonts/Nuckle/Nuckle-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Default variable overrides
$body-bg: #fff;
$body-color: #fff;
$font-family-sans-serif: "Nuckle", -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$border-radius-lg: 1rem;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1900px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px,
  xxxl: 1720px,
) !default;

html,
body {
  font-size: 14px !important;
  background: black !important;
}
.container,
.container-fluid {
  height: 63%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.bg-dark-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

$gray-900: #141515;
.img-icon {
  width: 2rem !important;
  margin-right: 1rem;
}
.rounded-lg {
  border-radius: 1.5rem;
}

.main-swiper {
  & > .swiper-pagination-progressbar {
    width: 1px !important;
    right: 0 !important;
    left: auto !important;
    background-color: transparent !important;
    .swiper-pagination-progressbar-fill {
      background-color: #fff !important;
    }
  }
}
.font-family-sans {
  font-family: sans-serif !important;
}
@media (min-width: 992px) {
  html,
  body {
    font-size: 14px;
  }
  .img-icon {
    width: 3.125rem !important;
  }
  .roadmap-swiper {
    .swiper-wrapper {
      padding: 0 !important;
    }
  }
  #earlysup {
    background-image: url("/images/earlysupporters/bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
  }
  #earlysup .nft {
    width: 250px !important;
    height: 250px !important;
  }
  footer {
    border-top-right-radius: 5rem !important;
    border-top-left-radius: 5rem !important;
  }
  .video-normal {
    width: 100% !important;
    height: auto !important;
  }
}

.bottomNav {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
}
.btn {
  padding: 0.475rem 0.75rem 0.375rem 0.75rem !important;
}
.btn-lg,
.btn-group-lg > .btn {
  font-size: 1.1rem !important;
}
.btn-music {
  margin-right: 1rem !important;
  img {
    margin-right: 0rem !important;
  }
}
.btn-icon {
  img {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}
.btn-icon:hover {
  img {
    filter: invert(1);
  }
}
$link-color: #fff;
$link-hover-color: #fff;

p {
  font-size: 1rem;
  line-height: 1.3 !important;
}
h1 {
  font-family: "Nuckle";
  font-size: 2.75rem !important;
  line-height: 1;
  cursor: default;
}

h2 {
  font-family: "Nuckle";
  font-size: 2rem !important;

  cursor: default;
}
h3 {
  font-family: "Nuckle";
  font-size: 1.5rem !important;
  cursor: default;
}
h4 {
  font-family: "Nuckle";
  font-size: 1.3rem !important;
  line-height: 1.3 !important;
  cursor: default;
}
h5 {
  font-family: "Nuckle";
  font-size: 1.25rem !important;

  cursor: default;
}
h6 {
  font-family: "Nuckle";
  font-size: 1.2rem !important;
  cursor: default;
}
.text-outline {
  color: #000;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
.text-small {
  font-size: 0.9rem !important;
}
// Navbar

.navModal {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  .modal-dialog {
    width: 100% !important;
    max-width: 100%;
  }
  .modal-content {
    background-color: transparent;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-color: #000;
    background-clip: padding-box;
    padding: 3rem;
    img {
      height: 28px;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
    a:not(.social) {
      font-size: 1.2rem;
      &:hover {
        padding-left: 1rem;
        -webkit-transition: all 0.3s 0s ease-out;
        -moz-transition: all 0.3s 0s ease-out;
        -o-transition: all 0.3s 0s ease-out;
        transition: all 0.3s 0s ease-out;
      }
    }
    a.social {
      font-size: 1.5rem;
      -webkit-transition: all 0.3s 0s ease-out;
      -moz-transition: all 0.3s 0s ease-out;
      -o-transition: all 0.3s 0s ease-out;
      transition: all 0.3s 0s ease-out;
      color: #acacac;
      &:hover {
        color: #fff;
      }
    }
    a.scrollLink {
      width: 100%;
      color: #fff;
      font-size: 1.5rem;
      text-align: left;
      background: transparent;
      outline: 0;
      border: none;
      padding: 0;
      -webkit-transition: all 0.3s 0s ease-in;
      -moz-transition: all 0.3s 0s ease-in;
      -o-transition: all 0.3s 0s ease-in;
      transition: all 0.3s 0s ease-in;
      border-bottom: 1px solid #fff;
      &:hover {
        padding-left: 1rem;
        -webkit-transition: all 0.3s 0s ease-out;
        -moz-transition: all 0.3s 0s ease-out;
        -o-transition: all 0.3s 0s ease-out;
        transition: all 0.3s 0s ease-out;
      }
    }
    div.navbar-coming-soon-container {
      width: 100%;
      text-align: start;
    }
    button.navbar-coming-soon-btn {
      background-color: transparent;
      border: 1px solid white;
      color: white;
      font-size: 14px;
      border-radius: 15px;
      padding: 2px 10px;
      margin-bottom: 15px;
      margin-left: 5px;
    }
  }
}

$nav-link-font-size: 1.124rem;

nav {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #6c6c6c;
  border-radius: 1rem;
  margin: 3rem;
  &.active {
    background-color: black;
  }
  transition: all 300ms ease;
}
.navbar-collapse.collapse {
  display: none;
}
.navbar-brand img {
  width: 6rem;
  height: auto;
}
.hamburger img {
  width: 1.5rem;
}
.navbar-nav .nav-link {
  align-self: center;
  padding: 0.5rem 1.2rem 0.4rem 1.2rem !important;
}
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #fff;
$navbar-dark-active-color: #fff;

.navbar-expand-lg .navbar-nav .btn {
  margin: 0.5rem !important;
}

video {
  height: 100%;
  width: auto;
}
.video-about,
.video-nft,
.video-features,
.video-roadmap,
.video-contact {
  opacity: 0.7;
}
.video-team {
  opacity: 0.3;
}
.video-contact {
  position: relative;
  left: 65%;
  opacity: 0.7;
}
@media (min-width: 992px) {
  nav {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 2rem 0;
  }
  .navbar-brand img {
    width: 9rem;
  }
  .hamburger img {
    width: 1.5rem;
  }
  .navbar-shrink {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  h4 {
    font-family: "Nuckle";
    font-size: 1.436rem !important;
    line-height: 1.3 !important;
  }
  video {
    width: 100%;
    height: auto;
  }
  .video-about,
  .video-nft,
  .video-roadmap,
  .video-features,
  .video-contact,
  .video-team {
    position: relative;
    left: 0 !important;
    right: auto !important;
    opacity: 1 !important;
  }
}
@media (min-width: 1200px) {
  .navModal {
    background-color: rgba(0, 0, 0, 0.15);
    .modal-dialog {
      margin: 0 !important;
      height: 100%;
    }
    .modal-content {
      height: 100%;
    }
    .content {
      width: 35%;
      margin-left: 65%;
      border-left: 1px solid #6c6c6c;
      a.scrollLink {
        font-size: 2rem;
      }
    }
  }
  html,
  body {
    font-size: 10px !important;
    background: black !important;
  }
  h1 {
    font-size: 4.875rem !important;
  }
  h3 {
    font-size: 1.873rem !important;
  }
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 16px !important;
  }
  h1 {
    font-size: 7.125rem !important;
  }
}
@media (min-width: 1900px) {
  html,
  body {
    font-size: 16px !important;
  }
}

form {
  font-size: 1rem;
  input.form-control,
  textarea.form-control {
    padding-left: 0 !important;
    color: #fff;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #acacac !important;
    &:focus {
      box-shadow: none;
    }
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

#__next {
  height: 100%;
  position: relative;
}
html,
body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
section.full-height {
  min-height: 100%;
}
.section {
  height: 63%;
}
.wrapper {
  padding: 5rem !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

/* Custom Accordion */

.accordion-item {
  background-color: transparent !important;
  border: none !important;
  hr {
    background-color: #fff;
    opacity: 1;
  }
  .accordion-button {
    background-color: transparent !important;
    padding: 0 !important;
    cursor: url("/images/open.png"), auto;
  }
  .accordion-button::after {
    background: transparent !important;
  }
  .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: transparent !important;
    box-shadow: none !important;
    cursor: url("/images/close.png"), auto;
  }
  .accordion-body {
    padding: 0 !important;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-swiper {
  position: absolute !important;
  z-index: 2 !important;
  top: 0;
  left: 0;
}
.main-swiper .swiper-pagination-bullets {
  right: 2rem !important;
}
.main-swiper .swiper-pagination-bullet {
  background-color: #fff !important;
}
.video-swiper {
  position: absolute !important;
  top: 0;
  left: 0;
  .swiper-slide {
    background-color: #000;
  }
}
.nft-bg {
  background-image: url("/images/early-supporter-nft.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.roadmap-swiper {
  .swiper-wrapper {
    padding: 0 3rem;
  }
  .swiper-pagination {
    display: flex !important;
    justify-content: space-evenly !important;
    bottom: 0 !important;
    &:after {
      content: " ";
      display: block;
      background: #fff;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -0.6px;
      z-index: -1;
    }
  }
  .swiper-pagination-bullet {
    background-color: #000 !important;
    border: 1px solid #fff !important;
    width: 12px !important;
    height: 12px !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #ef4208 !important;
    border: 1px solid #ef4208 !important;
  }
}
.benefits-swiper {
  .swiper-wrapper {
    margin-top: 1.5rem;
  }
  .swiper-slide {
    padding: 0;
    justify-content: start;
    align-items: initial;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff !important;
    margin-top: -2rem;
  }
  .swiper-button-prev {
    left: 0 !important;
  }
  .swiper-button-next {
    right: 0 !important;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 2rem !important;
  }
  .swiper-pagination-progressbar {
    height: 1px !important;
    background-color: #474747 !important;
    .swiper-pagination-progressbar-fill {
      background-color: #fff !important;
    }
  }
}
.not-fullscreen {
  margin-top: 10%;
  @media (max-width: 992px) {
    margin-top: 40%;
  }
}

.nav-pills {
  .nav-link {
    background: none;
    color: #fff;
    border: 0;
    @include border-radius($nav-pills-border-radius);
    cursor: pointer;
  }

  .nav-link.active,
  .show > .nav-link {
    color: #000;
    background: #fff;
  }
}
.embed-container {
  --video--width: 1920;
  --video--height: 1080;

  position: relative;
  padding-bottom: calc(
    var(--video--height) / var(--video--width) * 100%
  ); /* 41.66666667% */
  overflow: hidden;
  max-width: 100%;
  background: black;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.loading {
  background-color: #000;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  video {
    height: 100%;
    width: auto;
  }
}

section.section-video {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
}
.section-onboarding {
  background-image: url("/images/onboarding/bg-onboarding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-form {
  .swiper-slide {
    display: flex;
    flex-direction: column;
  }
}
.form-switch {
  .form-check-input {
    background-color: #6c6c6c;
    border-color: #fff;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    &:checked {
      background-color: #6c6c6c;
      border-color: #fff;
    }
  }
  .form-check-label {
    margin-top: 0.4rem;
    font-size: 1.25rem;
  }
}
.form-mask {
  overflow: hidden;
  width: 24rem;
  height: 24rem;
  background: #3c3c3c;
  transition: all 500ms ease-in-out;
  top: 4rem;
  position: relative;
  &.step-0 {
    transform: rotate(45deg);
    img {
      transform: rotate(-45deg);
    }
  }
  &.step-1 {
    transform: rotate(135deg);
    img {
      transform: rotate(-135deg);
    }
  }
  &.step-2 {
    transform: rotate(225deg);
    img {
      transform: rotate(-225deg);
    }
  }
  img {
    width: 150%;
    height: auto;
    transition: all 500ms ease-in-out;
  }
}

section.section-video {
  min-height: 100vh;
}
section.section-video > video {
  min-width: auto;
  min-height: 100%;
  width: auto;
  height: 100%;
  z-index: 0;
  position: absolute;
}

section.section-video .container {
  position: relative;
  z-index: 2;
}

section.section-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
@media (min-width: 992px) {
  section.section-video,
  section.section-onboarding {
    width: 100%;
    overflow: hidden;
  }
  section.section-video > video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: auto;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.switcher {
  a {
    font-size: 1.25rem;
    padding-right: 2rem;
    color: $text-muted;
  }
  a:hover {
    text-decoration: underline;
  }
}
footer {
  background-color: #d9d8dd !important;
  color: #6d6d6d !important;
}
footer img {
  width: 3rem;
}
.district-box {
  position: relative;
}
.district-box video {
  width: 100% !important;
  height: auto !important;
  border-radius: 1rem !important;
}

/* Marquees */

.marquee-data {
  width: 100%;
  overflow: hidden;
  background: rgb(221, 128, 84);
  background: linear-gradient(
    90deg,
    rgba(221, 128, 84, 1) 0%,
    rgba(239, 192, 182, 1) 32%,
    rgba(164, 191, 236, 1) 100%
  );
}
.marquee-data-item {
  margin: 0.5rem;
  width: 200px;
}
.marquee-data-item img {
  height: 24px;
}
.marquee-artists {
  width: 100%;
}
.marquee-artists-item {
  width: 240px;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}
.marquee-artists-item img {
  width: 100%;
  height: auto;
}
.marquee-artists-item .hover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 300ms ease;
}
.marquee-artists-item:hover .hover {
  opacity: 1;
}
#team .marquee {
  display: flex;
  align-items: start;
}
.marquee-team {
  width: 100%;
}
.marquee-team-item {
  width: 180px;
  margin: 0 2rem;
}
.marquee-team-item img {
  width: 100%;
  height: auto;
  border-radius: 50rem;
}
#partners .marquee {
  justify-content: space-around;
}
.marquee-partners {
  width: 100%;
}
.marquee-partners-item {
  margin: 2rem;
}
.marquee-partners-item img {
  width: auto;
  height: 80px;
  border-radius: 1rem;
}

#district {
  background-color: #000;
}
#team {
  background-color: #d9d8dd;
}
#partners {
  background-color: #fff;
}
#earlysup .content {
  z-index: 2;
}
#earlysup video {
  width: 100% !important;
  height: auto !important;
}
#earlysup .blur {
  background-image: url("/images/earlysupporters/blur.png");
  background-position: center;
  background-size: cover;
  min-height: 100px;
}
#earlysup .nft {
  background-color: #000;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  right: 4%;
  width: 150px;
  height: 150px;
  border: 2px solid #d9d8dd;
}

#player {
  background-color: #d9d8dd;
  .video-normal {
    width: 100% !important;
    height: auto !important;
  }
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 100;

  .pop-up-content {
    background-color: #000;
    opacity: 0.75;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    z-index: 2;
    width: 23rem;
    height: 14rem;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .pop-up-navbar {
    display: flex;
    justify-content: space-between;
  }
  h2.pop-up-title {
    margin: 0;
    font-size: 0.8rem;
  }
  button.pop-up-close {
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .pop-up-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img.pop-up-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
}

/* News */
h2.news {
  font-family: "Nuckle";
  font-size: 4rem !important;
}

/* Milestones */
div.milestones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 4rem !important;
  }
  @media (max-width: 900px) {
    h2 {
      font-size: 3rem !important;
    }
  }
}
div.milestones {
  width: 60%;
  @media (max-width: 900px) {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

div.fade-in {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeIn 2s ease-in-out forwards;
}

/* Artists */
@media (max-width: 900px) {
  h3.artists {
    font-size: 2.2rem !important;
  }
}

/* Marketplace */
@media (max-width: 900px) {
  section#marketplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  section#marketplace div.container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: fit-content;
    margin-bottom: 3rem;
  }
}

/* NFT early supporters */
@media (max-width: 900px) {
  section#earlysup h2 {
    font-size: 2.2rem !important;
    margin-bottom: 15rem;
  }
  section#earlysup h4 {
    padding-top: 8rem;
  }
}

.scroll-text-content {
  height: 5rem;
  width: 85%;
  overflow: hidden;
  font-size: 25px;
  color: black;
  background-color: #f9fafb;
  opacity: 0.6;
  // shadow
  box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.37);
  // background-image: url("/images/BeatBlox_BadgeBackground.png");
  border-radius: 5rem;

  @media (max-width: 900px) {
    // height: 3rem;
    width: 100%;
    font-size: 18px;
  }

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: auto;

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      text-align: center;
      list-style: none;
      width: 100%;
      padding: 0;

      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 40px;
        white-space: nowrap;
        margin: 20px 0px;
        padding: 0px;
        cursor: default;
      }
    }
  }
}

@keyframes change {
  0%,
  14.28%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  28.56% {
    transform: translate3d(0, calc(-100% / 7), 0);
  }
  33.32%,
  42.84% {
    transform: translate3d(0, calc(-210% / 7), 0);
  }
  49.98%,
  57.12% {
    transform: translate3d(0, calc(-310% / 7), 0);
  }
  66.64%,
  71.4% {
    transform: translate3d(0, calc(-420% / 7), 0);
  }
  83.3%,
  85.68% {
    transform: translate3d(0, calc(-530% / 7), 0);
  }
  92.94% {
    transform: translate3d(0, calc(-640% / 7), 0);
  }
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/* Rest of the keyframes animations... */

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
  video {
    width: 100%;
    height: 100%;
  }
}

/* Early Supporters */
div.early-supporter {
  h1 {
    font-family: "Nuckle";
    font-size: 2.875rem !important;
    line-height: 1;
    cursor: default;
  }
  h4 {
    font-family: "Nuckle";
    font-size: calc(1.2686rem + 0.2232vw) !important;
    cursor: default;
  }
  h4.benefits {
    padding-top: 0.8rem;
    padding-left: 1rem;
  }
}
